# Gemini API Key for AI-driven predictive maintenance
GEMINI_API_KEY=AIzaSyBoveS7x87RtjsfmHt4K2mFQ5OehsUYiEw

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_g6o9fjf
VITE_EMAILJS_TEMPLATE_ID=template_fuk8g8p
VITE_EMAILJS_USER_ID=05spREjziXMotJf_2
